html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  line-height: 27px;
}

td{
    white-space : pre-line;
}
th, td {
    border-color: #6699cc;
}
.foto{
    width : 310px;
}

.belangrijk{
    font-weight: bold;
}
.cvcolumn{
    width:50%;
}
.cvcolumnlinks {
    width: 20%;
}
.cvcolumnrechts {
    width: 80%;
}
.titel{
    font-size : 30px;
    font-weight : bold;
}
.btn{
    background-color:#36454F;
    border-color: forestgreen;
}
.kleur {
    color: #6699cc;
}
.mijnlijst{
    line-height:12px;
    list-style-type:square;
}

.achtergrond {
    background-color: #E5E4E2;
    color: black;
}

