@page
@{
    ViewData["Title"] = "CV";
}
<body class="achtergrond">
    <h2 class="kleur" style="margin-bottom:50px">Curiculum Vitae</h2>
    <div>
        <table class="table" style="margin-bottom:75px">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur" color:white">Werkervaring</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="cvcolumnlinks ondertitel">November 2021 - Juni 2022</th>
                    <td class="cvcolumnrechts"><b class="ondertitel">Uitvoerend projectleider</b> (VDV Cleaning Lokeren)

                        Als uitvoerend projectleider stuurde ik de teams van arbeiders aan, dit zowel vanop kantoor als effectief op de werf. Hier heb ik, gezien ik zelf initieel weinig van rioolreiniging afwist, geleerd dat de juiste mensen op de juiste plaats zetten belangrijker is dan als leidinggevende alles weten.
                        Ik was contactpersoon tussen de grootste klant van het bedrijf en het bedrijf zelf. Bij problemen op de werf moest ik mee zoeken naar oplossingen om zo snel mogelijk de opdracht toch tot een goed einde te brengen. Waar nodig zocht ik een compromis tussen wat de klant wilde en wat voor het bedrijf haalbaar was.
                        
                    </td>
                </tr>
                <tr>
                    <th class="cvcolumnlinks ondertitel">Juni 2020 - November 2021</th>
                    <td class="cvcolumnrechts"><b class="ondertitel">Sales Advisor</b> (Kia Vermant Antwerpen)

                        Als Senior Sales Advisor nam ik de klant mee in het volledige verkoopsproces van het begin tot het einde. Ik heb mezelf verder verdiept in het maken van een correcte behoefteanalyse en in de klant overtuigen van mijn product.
                        De correcte administratieve verwerking en opvolging van het dossier tussen de verkoop en de levering was mijn verantwoordelijkheid. Logistieke zaken zoals het ontvangen van nieuw geleverde wagens, ze ingeven in het systeem en op de website plaatsen nam ik voor mijn rekening. Ik heb leren omgaan met de stress die gelinkt is aan verantwoordelijk zijn voor de showroom, correcte pricing zetten voor wagens en accessoires, alsook een goede planning opmaken voor de opkuis van wagens en de leveringen hiervan aan klanten.
                        Gezien ik me zeer snel grondig heb ingewerkt in de verschillende computersystemen was het opleiden van nieuwe collega's al snel mijn taak.

                    </td>
                </tr>
                <tr>
                    <th class="cvcolumnlinks ondertitel">September 2017 - Juni 2020</th>
                    <td class="cvcolumnrechts"><b class="ondertitel">Sales Advisor</b> (Houttequiet NV / Imacar Vanhoecke)
                        
                        Als Junior Sales Advisor heb ik geleerd om met verschillende soorten klanten te werken en in te spelen op hun wensen en noden. Inschatten wat mensen echt willen en tussen de lijntjes lezen was een echte must.
                        Hier heb ik mijn eerste commerciële ervaring opgedaan en geleerd om te kunnen omgaan met flexibele uren en werken op commisie.
                    
                    </td>
                <tr>
                    <th class="cvcolumnlinks ondertitel" style="border:none">September 2015 - Juni 2016</th>
                    <td class="cvcolumnrechts" style="border:none"><b class="ondertitel">Leraar Secundair Onderwijs Engels - Frans</b> (Sint-Maarten Bovenschool Beveren & Onze-Lieve-Vrouw-Presentatie Sint-Niklaas)

                        Als leraar heb ik mijn kennis van het Engels en het Frans verder uitgebreid, heb ik geleerd om mensen in te schatten naar hun kunnen en op didactische wijze mijn kennis te kunnen overbrengen bij anderen. 
                        Deze ervaring heeft me ook geleerd om ontspannen te kunnen spreken voor grotere groepen.
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" style="margin-bottom:75px">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur">Opleidingen</th>
                </tr>
            </thead>
            <tboby>
                <tr>
                    <td class="cvcolumnlinks ondertitel"><b>VDAB opleiding .NET ontwikkelaar met C#</b></td>
                    <td class="cvcolumnrechts">Bij VDAB Competentiecentrum in Wondelgem
                        Bevat modules voor fundamentele kennis in:
                        <ul class="mijnlijst">
                            <li>HTML/CSS</li>
                            <li>SQL</li>
                            <li>Javascript</li>
                            <li>Test Driven Development</li>
                            <li>Windows Presentation Foundation (WPF)</li>
                            <li>ActiveX Data Objects (ADO)</li>
                            <li>Entity Framework</li>
                            <li>Active Server Pages (ASP .Net Core MVC)</li>
                            <li>Web API</li>
                        </ul></td>
                </tr>
                <tr>
                    <td height="45" class="cvcolumnlinks ondertitel"><b>Bachelor in het onderwijs: Secundair Onderwijs</b></td>
                    <td class="cvcolumnrechts">Vakkenkeuze: Engels en Frans
                        Arteveldehogeschool
                        Kattenberg 9 te Gent

                    </td>
                </tr>
                <tr>
                    
                </tr>
                <tr>
                    <td class="cvcolumnlinks ondertitel" style="border:none"><b>Latijn - Moderne Talen</b></td>
                    <td class="cvcolumnrechts" style="border:none">Sint-Jozef-Klein-Seminarie
                        Collegestraat 31 te Sint-Niklaas
                    </td>
                </tr>
            </tboby>
        </table>
        <table class="table" style="margin-bottom:75px">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur">Hobbies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cvcolumn" style="border:none">Jiujitsu (Lid sinds 1998, Hulptrainer, <a href="https://www.kabuto.be" target="_blank">www.kabuto.be</a>)</td>
                </tr>
                <tr>
                    <td style="border:none">Sportvissen</td>
                </tr>
                <tr>
                    <td style="border:none">Pianospelen</td>
                </tr>
                <tr>
                    <td style="border:none">Schaken</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur">Contactgegevens</th>
                </tr>
            </thead>
            <tboby>
                <tr>
                    <td class="cvcolumn" style="border:none">Geboortedatum: 21/04/1992</td>
                </tr>
                <tr>
                    <td style="border:none">Adres: Maretak 431, 9250 Waasmunster</td>
                </tr>
                <tr>
                    <td style="border:none">Telefoonnummer: 0478/60.35.89</td>
                </tr>
                <tr>
                    <td style="border:none">Emailadres: isaacpermentier@gmail.com</td>
                </tr>
            </tboby>
        </table>
    </div>
</body>


