@page
@{
    ViewData["Title"] = "CV";
}
<body class="achtergrond">
    <h2 class="kleur" style="margin-bottom:50px">Curriculum Vitae</h2>
    <div>
        <table class="table" style="margin-bottom:75px">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur" color:white">Werkervaring</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="cvcolumnlinks ondertitel">November 2021 - Juni 2022</th>
                    <td class="cvcolumnrechts"><b class="ondertitel">Uitvoerend projectleider</b> (VDV Cleaning Lokeren)

                        Als uitvoerend projectleider <strong>stuurde ik de teams van arbeiders aan</strong>, dit zowel vanop kantoor als effectief op de werf. Als <strong>contactpersoon tussen de klant en het bedrijf</strong> zocht ik bij problemen mee naar oplossingen om zo snel mogelijk de opdracht tot een goed einde te brengen. Waar nodig zocht ik een <b>compromis</b> tussen wat de klant wilde en wat voor het bedrijf haalbaar was.
                        
                    </td>
                </tr>
                <tr>
                    <th class="cvcolumnlinks ondertitel">Juni 2020 - November 2021</th>
                    <td class="cvcolumnrechts"><b class="ondertitel">Senior Sales Advisor</b> (Kia Vermant Antwerpen)

                        Bij Vermant was mijn takenpakket als Senior Sales Advisor zeer divers. Ik heb leren <strong>omgaan met de stress</strong> die gelinkt is aan <strong>verantwoordelijk</strong> zijn voor de <b>showroom</b> en de <b>klanten</b>, correcte pricing zetten voor wagens en accessoires en een <strong>goede planning</strong> opmaken voor de opkuis van wagens en de leveringen hiervan aan de klant.
                        Gezien ik me zeer snel grondig heb ingewerkt in de verschillende computersystemen was het <strong>opleiden van nieuwe collega's</strong> al snel mijn taak. 

                    </td>
                </tr>
                <tr>
                    <th class="cvcolumnlinks ondertitel">September 2017 - Juni 2020</th>
                    <td class="cvcolumnrechts"><b class="ondertitel">Junior Sales Advisor</b> (Houttequiet NV / Imacar Vanhoecke)
                        
                        Als Junior Sales Advisor heb ik geleerd om met verschillende soorten klanten te werken en in te spelen op hun wensen en noden. <strong>Inschatten wat mensen echt willen</strong> en tussen de lijntjes lezen was een echte must.
                        Hier heb ik mijn eerste commerciële ervaring opgedaan en geleerd om te kunnen <strong>omgaan met flexibele uren</strong> en werken op commissie.
                    
                    </td>
                <tr>
                    <th class="cvcolumnlinks ondertitel" style="border:none">September 2015 - Juni 2016</th>
                    <td class="cvcolumnrechts" style="border:none"><b class="ondertitel">Leraar Secundair Onderwijs Engels - Frans</b> (Sint-Maarten Bovenschool Beveren & Onze-Lieve-Vrouw-Presentatie Sint-Niklaas)

                        Als leraar heb ik mijn <b>kennis van het Engels en het Frans</b> verder uitgebreid, heb ik geleerd om <strong>mensen in te schatten naar hun kunnen</strong> en op didactische wijze mijn kennis te kunnen overbrengen bij anderen. 
                        Deze ervaring heeft me ook geleerd om <strong>ontspannen te kunnen spreken voor grotere groepen</strong>.
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" style="margin-bottom:75px">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur">Opleidingen</th>
                </tr>
            </thead>
            <tboby>
                <tr>
                    <td class="cvcolumnlinks ondertitel"><b>VDAB opleiding .NET ontwikkelaar met C#</b></td>
                    <td class="cvcolumnrechts">Bij VDAB Competentiecentrum in Wondelgem
                        Bevat modules voor fundamentele kennis in:
                        <ul class="mijnlijst">
                            <li>HTML/CSS</li>
                            <li>SQL</li>
                            <li>Javascript</li>
                            <li>Test Driven Development</li>
                            <li>Windows Presentation Foundation (WPF)</li>
                            <li>ActiveX Data Objects (ADO)</li>
                            <li>Entity Framework</li>
                            <li>Active Server Pages (ASP .Net Core MVC)</li>
                            <li>Web API</li>
                        </ul></td>
                </tr>
                <tr>
                    <td height="45" class="cvcolumnlinks ondertitel"><b>Bachelor in het onderwijs: Secundair Onderwijs</b></td>
                    <td class="cvcolumnrechts">Vakkenkeuze: Engels en Frans
                        Arteveldehogeschool
                        Kattenberg 9 te Gent

                    </td>
                </tr>
                <tr>
                    
                </tr>
                <tr>
                    <td class="cvcolumnlinks ondertitel" style="border:none"><b>Latijn - Moderne Talen</b></td>
                    <td class="cvcolumnrechts" style="border:none">Sint-Jozef-Klein-Seminarie
                        Collegestraat 31 te Sint-Niklaas
                    </td>
                </tr>
            </tboby>
        </table>
        <table class="table" style="margin-bottom:75px">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur">Hobby's</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cvcolumn" style="border:none">Jiujitsu (Lid sinds 1998, Hulptrainer, <a href="https://www.kabuto.be" target="_blank">www.kabuto.be</a>)</td>
                </tr>
                <tr>
                    <td style="border:none">Sportvissen</td>
                </tr>
                <tr>
                    <td style="border:none">Pianospelen</td>
                </tr>
                <tr>
                    <td style="border:none">Schaken</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" align="center" class="titel kleur">Contactgegevens</th>
                </tr>
            </thead>
            <tboby>
                <tr>
                    <td class="cvcolumn" style="border:none">Geboortedatum: 21/04/1992</td>
                </tr>
                <tr>
                    <td style="border:none">Adres: Maretak 431, 9250 Waasmunster</td>
                </tr>
                <tr>
                    <td style="border:none">Telefoonnummer: 0478/60.35.89</td>
                </tr>
                <tr>
                    <td style="border:none">Emailadres: isaacpermentier@gmail.com</td>
                </tr>
            </tboby>
        </table>
    </div>
</body>


