@page
@{
    ViewData["Title"] = "CV";
}
<h2>CV</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" align="center">Contactgegevens</th>
        </tr>
    </thead>
    <tboby>
        <tr>
            <td>Geboortedatum: 21/04/1992</td>
            <td>Adres: Maretak 431, 9250 Waasmunster</td>
        </tr>
        <tr>
            <td>Telefoonnummer: 0478/60.35.89</td>
            <td>Emailadres: isaacpermentier@gmail.com</td>
        </tr>
    </tboby>
    <thead>
        <tr>
            <th colspan="2" align="center">Opleidingen</th>
        </tr>
    </thead>
    <tboby>
        <tr>
            <td>
                Latijn - Moderne Talen <br>
                Sint-Jozef-Klein-Seminarie <br>
                Collegestraat 31 te Sint-Niklaas<br>
            </td>
            <td rowspan="2">
                VDAB opleiding .NET ontwikkelaar met C#<br>
                Bij VDAB Competen􀆟ecentrum in Wondelgem<br>
                Bevat modelus voor fundamentele kennis in:<br>
                <ul>
                    <li>HTML/CSS</li>
                    <li>SQL</li>
                    <li>Javascript</li>
                    <li>Test Driven Development</li>
                    <li>Windows Presenta􀆟on Founda􀆟on (WPF)</li>
                    <li>Windows Presenta􀆟on Founda􀆟on (WPF)</li>
                    <li>ActiveX Data Objects (ADO)</li>
                    <li>Entity Framework</li>
                    <li>Active Server Pages (ASP .Net Core MVC)</li>
                    <li>Web API</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Bachelor in het onderwijs: Secundair Onderwijs<br>
                Vakkenkeuze: Engels en Frans<br>
                Arteveldehogeschool<br>
                Ka􀆩enberg 9 te Gent
            </td>
        </tr>
    </tboby>

</table>

