@page
@{
    ViewData["Title"] = "CV";
}
<h2>CV</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" align="center" style="background:lightblue">Werkervaring</th>
        </tr>
    </thead>
    <tbody>
        <tr class="belangrijk">
            <td class="cvcolumn">September 2015 - juni 2016</td>
            <td>Juni 2020 - november 2021</td>
        </tr>
        <tr>
            <td>
                Leraar Secundair Onderwijs
                Engels - Frans
                Sint-Maarten Bovenschool Beveren
                Onze-Lieve-Vrouw-PresentatieSint-Niklaas
            </td>
            <td>Sales Advisor
                Kia Vermant Antwerpen
            </td>
        </tr>
        <tr class="belangrijk">
            <td class="cvcolumn">September 2017 - juni 2020</td>
            <td>November 2021 - juni 2022</td>
        </tr>
        <tr>
            <td>Sales Advisor
                Houttequiet NV / Imacar Vanhoecke
            </td>
            <td>Uitvoerend projectleider
                VDV Cleaning Lokeren
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" align="center" style="background:lightblue">Opleidingen</th>
        </tr>
    </thead>
    <tboby>
        <tr class="belangrijk">
            <td class="cvcolumn">Latijn - Moderne Talen</td>
            <td>VDAB opleiding .NET ontwikkelaar met C#</td>
        </tr>
        <tr>
            <td>Sint-Jozef-Klein-Seminarie
                Collegestraat 31 te Sint-Niklaas
            </td>
            <td rowspan="3">Bij VDAB Competen􀆟ecentrum in Wondelgem
                Bevat modelus voor fundamentele kennis in:
                <ul>
                    <li>HTML/CSS</li>
                    <li>SQL</li>
                    <li>Javascript</li>
                    <li>Test Driven Development</li>
                    <li>Windows Presenta􀆟on Founda􀆟on (WPF)</li>
                    <li>Windows Presenta􀆟on Founda􀆟on (WPF)</li>
                    <li>ActiveX Data Objects (ADO)</li>
                    <li>Entity Framework</li>
                    <li>Active Server Pages (ASP .Net Core MVC)</li>
                    <li>Web API</li>
                </ul></td>
        </tr>
        <tr class="belangrijk">
            <td height="45" class="cvcolumn">Bachelor in het onderwijs: Secundair Onderwijs</td>
        </tr>
        <tr>
            <td>Vakkenkeuze: Engels en Frans
                Arteveldehogeschool
                Ka􀆩enberg 9 te Gent
            </td>
        </tr>
    </tboby>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" align="center" style="background:lightblue">Hobbies</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="cvcolumn">Ju-Jitsu (Lid sinds 1998, Hulptrainer, <a href="https://www.kabuto.be" target="_blank">www.kabuto.be</a>)</td>
            <td>Sportvissen</td>
        </tr>
        <tr>
            <td>Piano spelen</td>
            <td>Schaken</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" align="center" style="background:lightblue">Contactgegevens</th>
        </tr>
    </thead>
    <tboby>
        <tr>
            <td class="cvcolumn">Geboortedatum: 21/04/1992</td>
            <td>Adres: Maretak 431, 9250 Waasmunster</td>
        </tr>
        <tr>
            <td>Telefoonnummer: 0478/60.35.89</td>
            <td>Emailadres: isaacpermentier@gmail.com</td>
        </tr>
    </tboby>
</table>

