@page
@{
    ViewData["Title"] = "CV";
}
<h2>CV</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" align="center">Contactgegevens</th>
        </tr>
    </thead>
    <tboby>
        <tr>
            <td>Geboortedatum: 21/04/1992</td>
            <td>Adres: Maretak 431, 9250 Waasmunster</td>
        </tr>
        <tr>
            <td>Telefoonnummer: 0478/60.35.89</td>
            <td>Emailadres: isaacpermentier@gmail.com</td>
        </tr>
    </tboby>
    <thead>
        <tr>
            <th colspan="2" align="center">Opleidingen</th>
        </tr>
    </thead>
    <tboby>
        <tr>
            <td>Latijn - Moderne Talen <br>
                Sint-Jozef-Klein-Seminarie <br>
                Collegestraat 31 te Sint-Niklaas<br>
            </td>
            <td>Adres: Maretak 431, 9250 Waasmunster</td>
        </tr>
        <tr>
            <td>Telefoonnummer: 0478/60.35.89</td>
            <td>Emailadres: isaacpermentier@gmail.com</td>
        </tr>
    </tboby>

</table>

