@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<table>
    <tr style="vertical-align:top">
        <td class="foto"><img src="~/images/Profielfoto.jpeg" alt="Profielfoto" height="360" width="270" /></td>
        <td width="600"><span class="titel">Isaac Permentier</span>
            
            Ik ben een Junior Developer die leergierig is, sociaal vaardig en volhardend. Ik ben iemand die zich graag vastbijt in iets en niet meer loslaat tot het gewenste resultaat behaald is. Ik kan liefst zo snel mogelijk zelfstandig werken maar vergeet daarbij nooit de voordelen van teamwork. Samen bereik je altijd meer dan alleen.
            Ik hou van een uitdaging en zoeken naar efficiente oplossingen, vandaar dat Software Development me zo aanspreekt. In mijn vrije tijd ga ik graag vissen of spendeer ik tijd met mijn gezin. Ik spreek en schrijf vloeiend Engels en Frans.
        </td>
    </tr>


</table>
<p></p>
<a class="btn btn-primary" href="~/CV">Naar mijn CV</a>
<a class="btn btn-primary" href="~/Motivatie">Naar mijn motivatiebrief</a>

