@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <img src="~/images/Profielfoto.jpeg" alt="Profielfoto" height="400" width="300" />
    <p></p>
    <p>
        Zou u graag aan uw team een Junior Developer toevoegen die leergierig is, sociaal vaardig en volhardend? <br>
        Zoekt u iemand die zich graag vastbijt in iets en niet meer loslaat tot het gewenste resultaat behaalt is? <br>
        Raadpleef dan zeker mijn CV en motivatiebrief. Bij interesse kom ik graag bij u langs voor een kennismakend gesprek.
    </p>
    <a class="btn btn-primary" href="~/CV">Naar mijn CV</a>
    <a class="btn btn-primary" href="~/Motivatie">Naar mijn motivatiebrief</a>
</div>