@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:#EBECF0">
<div style="margin:50px; width:950px;height:100%; background-color:#EBECF0">
    <table style="margin:10px">
        <tr style="vertical-align:top">
            <td rowspan="2" class="foto"><img src="~/images/Profielfoto.jpeg" alt="Profielfoto" height="360" width="270" style="border-radius:20px; margin-top:10px" /></td>
            <td width="600">
                <div style="background-color:forestgreen; color:white; border:solid 1px; border-radius:5px" width="600"><t class="titel" style="margin:10px">Isaac Permentier</t></div>
                Ik ben een Junior Developer die leergierig is, sociaal vaardig en volhardend. Ik ben iemand die zich graag vastbijt in iets en niet meer loslaat tot het gewenste resultaat behaald is. Ik kan liefst zo snel mogelijk zelfstandig werken maar vergeet daarbij nooit de voordelen van teamwork, samen bereik je altijd meer dan alleen.
                Ik hou van een uitdaging en zoeken naar efficiente oplossingen, vandaar dat Software Development me zo aanspreekt. Om te ontspannen ga ik graag vissen, doe ik Ju-Jitsu of spendeer ik tijd met mijn gezin. Ik spreek en schrijf vloeiend Engels en Frans.
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-success" href="~/CV">Mijn CV</a>  <a class="btn btn-success" href="~/Motivatie">Waarom IT?</a>
            </td>
        </tr>
    </table>
    <p></p>
    <div style="margin:10px">
        <p><b><u>Beknopte informatie</u></b></p>
        <p style="margin-bottom:10px">
            <b>Gewenste functie: </b>Junior .Net Developer
        </p>
        <p style="margin-bottom:10px">
            <b>Werkervaring in IT: </b>Geen
        </p>
        <span style="vertical-align:top; font-weight:bold">Gekende programmeertalen:</span>
        <ul>
            <li>C# (Junior level)</li>
            <li>HTML/CSS (Basiskennis)</li>
            <li style="margin-bottom:10px">Javascript (Basiskennis)</li>
        </ul>
    </div>
</div>
</body>
    

   



