@page
@{
    ViewData["Title"] = "Motivatie";
}
<body style="background-color:#282828">
    <h2 style="width:800px"><t class="titel groen">Zo ben ik bij IT terechtgekomen:</t></h2>
    <table>
        <td style="width:800px; color:white">
            Eigenlijk heb ik als student de verkeerde studie gekozen. Zoals u op mijn CV kan zien ben ik afgestudeerd als Bachelor in het onderwijs voor de talen Engels en Frans. Achteraf bekeken was het onderwijs duidelijk niet de job waar ik mezelf echt goed in kon vinden. De IT sector, en zeker software development, spreekt me intussen al jaren aan maar vooral om financïële redenen is er nooit echt de mogelijkheid geweest om me om te scholen.
            Na mijn afscheid bij mijn laatste werkgever zag ik eindelijk de uitgelezen kans om deze omscholing wél te verwezenlijken en heb ik me dus aangemeld bij de VDAB voor de cursus .NET Ontwikkelaar met C#.

            Niet geheel onverwachts bleek uit de profielbepaling dat ik over de geschikte competenties beschik om in te stappen in de wondere wereld van software ontwikkeling. Kennis van talen, logische inzichten, probleemoplossend denken, … de gezochte kwaliteiten lijken op mijn lijf geschreven. Begin juli 2022 ben ik dan ook gestart met de opleiding.
            Al snel werd duidelijk dat ik nu wel goed gekozen had. IT is echt iets voor mij. De voorziene tijd voor het doorlopen van de opleiding is ongeveer 10 maanden, echter heb ik deze kunnen afronden op de helft van de tijd. Dit toont enerzijds aan dat ik in staat ben om veel informatie te verwerken op relatief korte tijd, maar vooral ook dat ik nu echt op mijn plaats zit. Ik ben graag met programmeren bezig, het zoeken naar en vinden van oplossingen geeft me een enorme voldoening. Ik ben zeer benieuwd naar wat er nog allemaal mogelijk is en kijk er naar uit om te blijven bijleren. De mogelijkheden lijken bijna oneindig.

            Over het algemeen ben ik iemand die op zoek is naar functie binnen een bedrijf waar ik een langdurige relatie kan opbouwen, echter is dit niet helemaal gelukt binnen mijn voorgaande functies. Ik heb heel veel bijgeleerd door van sectoren te switchen, maar nu is het tijd voor een sector waar ik me echt in kan verdiepen en waar ik eindelijk de houvast kan vinden die ik zoek. Ik ben er van overtuigd dat ik deze ambitie als Software Developer zal kunnen waarmaken.
        </td>
    </table>
</body>

