@page
@{
    ViewData["Title"] = "Motivatie";
}
<body class="achtergrond">
    <h2 style="width:800px"><t class="titel kleur">Omdat IT cool is!</t></h2>
    <table>
        <tr>
            <td style="width:800px">
                De IT-sector, en zeker software development, spreekt me al jaren aan. De toepassingen zijn eindeloos en technologie staat nooit stil. De uitdagingen die daaraan verbonden zijn zie ik als motiverend, een sector die niet stilstaat wordt ook nooit saai.
                Tijdens de opleiding bij VDAB is deze interesse alleen maar bevestigd. Ik ben graag met programmeren bezig, het zoeken naar en vinden van oplossingen geeft me een enorme voldoening. IT is gewoon echt cool! Het gegeven dat ik een opleiding waarvoor men normaal gesproken 10 maanden voorziet heb afgerond op 5 maanden toont aan dat ik echt op mijn plaats zit in deze sector.
                Ik ben zeer benieuwd naar wat er nog allemaal mogelijk is en kijk ernaar uit om te blijven bijleren.
            </td>
        </tr>
    </table>
</body>

