@page
@{
    ViewData["Title"] = "Sample Code";
}
<body class="achtergrond">
    <h2 class="kleur" style="margin-bottom:50px">Voorbeeld code</h2>
    <div>Hierbij zal u de links terugvinden naar een aantal eindopdrachten die ik heb gemaakt binnen de modules bij de VDAB, steeds werkende met Visual Studio. Deze dienen als voorbeeld voor zelf geschreven code of zelfgemaakte (kleine) projecten. <br>
        Het betreft repositories op GitHub waar de volledige solutions terug te vinden zijn. 
    </div>
    <p></p>
    <ul>
        <li>ASP .NET Core: <a href="https://github.com/IsaacPermentier/ASP2TestVideo" target="_blank">https://github.com/IsaacPermentier/ASP2TestVideo</a></li>
        <li>Console App: <a href="https://github.com/IsaacPermentier/FlyNet" target="_blank">https://github.com/IsaacPermentier/FlyNet</a></li>
        <li>WPF App: <a href="https://github.com/IsaacPermentier/WPFTestWenskaarten" target="_blank">https://github.com/IsaacPermentier/WPFTestWenskaarten</a></li>
    </ul>
</body>
